{% extends "base_registration.html" %}

{% block content %}
  <form class="form-signin" action="{% url 'register' %}" method="post">
    <h1 class="h3 mb-3 font-weight-bold">Register here.</h1>
    {% csrf_token %}
    <div class="d-flex flex-column">
      {{ form }}
    </div>
    <!--<input id="inputUsername" class="form-control" placeholder="Username" required="" autofocus="" type="text">
    <input id="inputPassword" class="form-control" placeholder="Password" required="" type="password">-->
    {% if messages %}
      <ul class="messages text-danger small">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <button class="btn btn-lg btn-primary btn-block mt-5" type="submit">Create Account</button>
    <input type="hidden" name="next" value="{{ next }}">
  </form>
  <p>Do you already have an account? <a href="{% url 'login' %}">Sign in here.</a></p>
{% endblock %}
