DateTime
Django
Flask
GitPython
Jinja2
Js2Py
MarkupSafe
Pillow
PyPrind
PyQt6
PyQt6-3D
PyQt6-Charts
PyQt6-DataVisualization
PyQt6-NetworkAuth
PyQt6-WebEngine
PyQt6-sip
PyYAML
Pygments
QtPy
Send2Trash
Werkzeug
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
attrs
backcall
beautifulsoup4
bleach
bs4
cachetools
certifi
cffi
channels
charset-normalizer
click
comm
contextlib2
contourpy
cycler
debugpy
decorator
defusedxml
django-bootstrap-toolkit
django-bootstrap-v5
django-cors-headers
django-environ
django-login-required-middleware
djangorestframework
docopt
execnet
executing
fastjsonschema
filelock
fonttools
fqdn
gitdb
google
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
httplib2
idna
iniconfig
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration
itsdangerous
jedi
joblib
jsonpointer
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-events
jupyter-server
jupyter-server-terminals
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
lxml
matplotlib
matplotlib-inline
mistune
mock
mpmath
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook-shim
numpy
oauthlib
opencv-python
packaging
pandas
pandocfilters
parso
path
path.py
pexpect
pickleshare
pip
pipwin
platformdirs
plotly
pluggy
ply
prometheus-client
prompt-toolkit
protobuf
psutil
psycopg
psycopg2
psycopg2-binary
ptyprocess
pure-eval
pySmartDL
py-cpuinfo
pyasn1
pyasn1-modules
pycocotools
pycparser
pyjsparser
pyparsing
pyrsistent
pytest
pytest-shutil
python-dateutil
python-dotenv
python-json-logger
pytz
pytz-deprecation-shim
pyzmq
qtconsole
requests
requests-oauthlib
rfc3339-validator
rfc3986-validator
rsa
scikit-learn
scipy
seaborn
setuptools
sip
six
sklearn-features
slack-bolt
slack-sdk
smmap
sniffio
soupsieve
sqlparse
stack-data
sympy
tenacity
termcolor
terminado
thop
threadpoolctl
tinycss2
torch
torchvision
tornado
tqdm
traitlets
typing-extensions
tzdata
tzlocal
ultralytics
uri-template
uritemplate
urllib3
wcwidth
webcolors
webencodings
websocket-client
wget
wheel
widgetsnbextension
wordcloud
zope.interface
martor
gunicorn